<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tally.dao.tallyworkorderproduct.TallyWorkOrderProductMapper">

  <resultMap id="BaseResultMap" type="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProduct">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="work_order_id" jdbcType="INTEGER" property="workOrderId"/>
    <result column="product_id" jdbcType="INTEGER" property="productId"/>
    <result column="product_name" jdbcType="VARCHAR" property="productName"/>
    <result column="product_spec_id" jdbcType="INTEGER" property="productSpecId"/>
    <result column="product_spec_name" jdbcType="VARCHAR" property="productSpecName"/>
    <result column="product_spec_num" jdbcType="INTEGER" property="productSpecNum"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `work_order_id`, `product_id`, `product_spec_id`, `product_name`, `product_spec_name`, `product_spec_num`
  </sql>
  <select id="selectByExample" parameterType="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from `tally_work_order_product`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `tally_work_order_product`
    where `id` = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByWorkOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `tally_work_order_product`
    where `work_order_id` = #{workOrderId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `tally_work_order_product`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProductExample">
    delete from `tally_work_order_product`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tally_work_order_product` (
      `work_order_id`, 
      `product_id`, 
      `product_name`,
      `product_spec_id`,
      `product_spec_name`,
      `product_spec_num`
    )
    values (
      #{workOrderId,jdbcType=INTEGER}, 
      #{productId,jdbcType=INTEGER}, 
      #{productName,jdbcType=VARCHAR},
      #{productSpecId,jdbcType=INTEGER},
      #{productSpecName,jdbcType=VARCHAR},
      #{productSpecNum,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tally_work_order_product`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="workOrderId != null">
      `work_order_id`,
      </if>
      <if test="productId != null">
      `product_id`,
      </if>
      <if test="productName != null">
      `product_name`,
      </if>
      <if test="productSpecId != null">
      `product_spec_id`,
      </if>
      <if test="productSpecName != null">
      `product_spec_name`,
      </if>
      <if test="productSpecNum != null">
      `product_spec_num`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="workOrderId != null">
        #{workOrderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSpecId != null">
        #{productSpecId,jdbcType=INTEGER},
      </if>
      <if test="productSpecName != null">
        #{productSpecName,jdbcType=VARCHAR},
      </if>
      <if test="productSpecNum != null">
        #{productSpecNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch">
        insert into
        tally_work_order_product
        (
          `work_order_id`,
          `product_id`,
          `product_name`,
          `product_spec_id`,
          `product_spec_name`,
          `product_spec_num`
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
        #{item.workOrderId,jdbcType=INTEGER},
        #{item.productId,jdbcType=INTEGER},
        #{item.productName,jdbcType=VARCHAR},
        #{item.productSpecId,jdbcType=INTEGER},
        #{item.productSpecName,jdbcType=VARCHAR},
        #{item.productSpecNum,jdbcType=INTEGER}
        )
        </foreach>
    </insert>
    <select id="countByExample" parameterType="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProductExample" resultType="java.lang.Integer">
    select count(*) from `tally_work_order_product`
    <if test="_parameter != null">
    <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `tally_work_order_product`
    <set>
      <if test="record.workOrderId != null">
      `work_order_id` = #{record.workOrderId,jdbcType=INTEGER}, 
      </if>
      <if test="record.productId != null">
      `product_id` = #{record.productId,jdbcType=INTEGER}, 
      </if>
      <if test="record.productName != null">
      `product_name` = #{record.productName,jdbcType=INTEGER},
      </if>
      <if test="record.productSpecId != null">
      `product_spec_id` = #{record.productSpecId,jdbcType=INTEGER}, 
      </if>
      <if test="record.productSpecName != null">
      `product_spec_name` = #{record.productSpecName,jdbcType=INTEGER},
      </if>
      <if test="record.productSpecNum != null">
      `product_spec_num` = #{record.productSpecNum,jdbcType=INTEGER}
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `tally_work_order_product`
    <set>
      `work_order_id` = #{record.workOrderId,jdbcType=INTEGER}, 
      `product_id` = #{record.productId,jdbcType=INTEGER}, 
      `product_name` = #{record.productId,jdbcType=VARCHAR},
      `product_spec_id` = #{record.productSpecId,jdbcType=INTEGER},
      `product_spec_name` = #{record.productSpecName,jdbcType=VARCHAR},
      `product_spec_num` = #{record.productSpecNum,jdbcType=INTEGER}
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProduct">
    update `tally_work_order_product`
    <set>
      <if test="workOrderId != null">
      `work_order_id` = #{workOrderId,jdbcType=INTEGER}, 
      </if>
      <if test="productId != null">
      `product_id` = #{productId,jdbcType=INTEGER}, 
      </if>
      <if test="productName != null">
      `product_name` = #{productName,jdbcType=INTEGER},
      </if>
      <if test="productSpecId != null">
      `product_spec_id` = #{productSpecId,jdbcType=INTEGER}, 
      </if>
      <if test="productSpecName != null">
      `product_spec_name` = #{productSpecName,jdbcType=INTEGER},
      </if>
      <if test="productSpecNum != null">
      `product_spec_num` = #{productSpecNum,jdbcType=INTEGER}
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tally.dao.tallyworkorderproduct.model.TallyWorkOrderProduct">
    update `tally_work_order_product`
    <set>
      `work_order_id` = #{workOrderId,jdbcType=INTEGER}, 
      `product_id` = #{productId,jdbcType=INTEGER}, 
      `product_name` = #{productId,jdbcType=VARCHAR},
      `product_spec_id` = #{productSpecId,jdbcType=INTEGER},
      `product_spec_name` = #{productSpecId,jdbcType=VARCHAR},
      `product_spec_num` = #{productSpecNum,jdbcType=INTEGER}
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>