<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tally.dao.tallyusergrade.TallyUserGradeMapper">

  <resultMap id="BaseResultMap" type="com.tally.dao.tallyusergrade.model.TallyUserGrade">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="LONGVARCHAR" property="name"/>
    <result column="grade_img" jdbcType="LONGVARCHAR" property="gradeImg"/>
    <result column="deadline" jdbcType="LONGVARCHAR" property="deadline"/>
    <result column="is_default" jdbcType="INTEGER" property="isDefault"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `name`, `grade_img`, `deadline`, `is_default`
  </sql>
  <select id="selectByExample" parameterType="com.tally.dao.tallyusergrade.model.TallyUserGradeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from `tally_user_grade`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `tally_user_grade`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `tally_user_grade`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tally.dao.tallyusergrade.model.TallyUserGradeExample">
    delete from `tally_user_grade`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.tally.dao.tallyusergrade.model.TallyUserGrade">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tally_user_grade` (
      `name`, 
      `grade_img`, 
      `deadline`, 
      `is_default`
    )
    values (
      #{name,jdbcType=LONGVARCHAR}, 
      #{gradeImg,jdbcType=LONGVARCHAR}, 
      #{deadline,jdbcType=LONGVARCHAR}, 
      #{isDefault,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.tally.dao.tallyusergrade.model.TallyUserGrade">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tally_user_grade`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
      `name`,
      </if>
      <if test="gradeImg != null">
      `grade_img`,
      </if>
      <if test="deadline != null">
      `deadline`,
      </if>
      <if test="isDefault != null">
      `is_default`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="gradeImg != null">
        #{gradeImg,jdbcType=LONGVARCHAR},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=LONGVARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tally.dao.tallyusergrade.model.TallyUserGradeExample" resultType="java.lang.Integer">
    select count(*) from `tally_user_grade`
    <if test="_parameter != null">
    <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `tally_user_grade`
    <set>
      <if test="record.name != null">
      `name` = #{record.name,jdbcType=LONGVARCHAR}, 
      </if>
      <if test="record.gradeImg != null">
      `grade_img` = #{record.gradeImg,jdbcType=LONGVARCHAR}, 
      </if>
      <if test="record.deadline != null">
      `deadline` = #{record.deadline,jdbcType=LONGVARCHAR}, 
      </if>
      <if test="record.isDefault != null">
      `is_default` = #{record.isDefault,jdbcType=INTEGER}
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `tally_user_grade`
    <set>
      `name` = #{record.name,jdbcType=LONGVARCHAR}, 
      `grade_img` = #{record.gradeImg,jdbcType=LONGVARCHAR}, 
      `deadline` = #{record.deadline,jdbcType=LONGVARCHAR}, 
      `is_default` = #{record.isDefault,jdbcType=INTEGER}
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tally.dao.tallyusergrade.model.TallyUserGrade">
    update `tally_user_grade`
    <set>
      <if test="name != null">
      `name` = #{name,jdbcType=LONGVARCHAR}, 
      </if>
      <if test="gradeImg != null">
      `grade_img` = #{gradeImg,jdbcType=LONGVARCHAR}, 
      </if>
      <if test="deadline != null">
      `deadline` = #{deadline,jdbcType=LONGVARCHAR}, 
      </if>
      <if test="isDefault != null">
      `is_default` = #{isDefault,jdbcType=INTEGER}
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tally.dao.tallyusergrade.model.TallyUserGrade">
    update `tally_user_grade`
    <set>
      `name` = #{name,jdbcType=LONGVARCHAR}, 
      `grade_img` = #{gradeImg,jdbcType=LONGVARCHAR}, 
      `deadline` = #{deadline,jdbcType=LONGVARCHAR}, 
      `is_default` = #{isDefault,jdbcType=INTEGER}
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>